.myForm {
    display: grid;
    grid-template-rows: 40px;
    grid-gap: .8em;
    background: #eee;
    padding: 1.2em;
}
.myForm > label  {
    grid-row: auto;
}
.myForm > input,
.myForm > textarea,
.myForm > button {
    border: none;
    padding: 1em;
}
