.form_container {
    height: 850px;
    overflow: auto;
}

.form {
    display: grid;
    grid-template-rows: 40px;
    background: #f8f9fa;
    padding: 1.2em;
    width: 250px;
    margin-bottom: 10px;
    height: 920px;
}

.form_footer {
    display: grid;
    grid-template-columns: 100px 100px;
    justify-content: space-between;
}

.form_footer button{
    height: 30px;
    border: 1px solid #bbb;
    width: 100px;
}

.submit {
    background: #fff;
    color: #000;
    height: 30px;
    border: 1px solid #e6282b;
    width: 100px;
    margin-top: 10px;
}

.reset {
    background: #e6282b;
    color: #fff;
    height: 30px;
    border: 1px solid #fff;
    width: 100px;
    margin-top: 10px;
}

.submit:hover{
    filter: brightness(97%);
}

.reset:hover {
    filter: brightness(95%);
}
