.myForm {
    display: grid;
    grid-template-rows: 40px;
    grid-gap: .8em;
    background: #eee;
    padding: 1.2em;
    width: 290px;
}

.form_footer {
    display: grid;
    grid-template-columns: 100px 100px;
    justify-content: space-between;
    width: 250px;
}

.form_footer button{
    height: 30px;
    border: 1px solid #bbb;
    width: 100px;
}

.submit {
    background: #006400;
    color: #fff;
}

.submit:hover{
    filter: brightness(150%);
}

.reset:hover {
    filter: brightness(70%);
}
