.login_container {
    margin: 10px;
    display: grid;
    justify-content: center;
    width: 290px;
    border: 1px solid #282c34;
    height: 200px;
    align-items: center;
}

.login_button {
    background: #006400;
    color: #fff;
    height: 30px;
    border: 1px solid #bbb;
    width: 100px;
    margin-top: 10px;
}

.login_button:hover{
    filter: brightness(150%);
}

